<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      /* Remove the ./ before the header added by hacker theme */
      header h1::before {
        content: "" !important;
      }
      #footer-button {
        margin-top: 50px;
        text-align: center;
        border-top: 1px dashed rgba(255,255,255,0.2);
        padding-top: 30px;
      }
    </style>
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
        
        <div id="footer-button">
          <a href="{{ site.github.repository_url | default: 'https://github.com/Juan-Perez-Ortega/Juan-Perez-Ortega.github.io' }}" class="btn btn-github"><span class="icon"></span>View Repo on GitHub</a>
        </div>
      </section>
    </div>
  </body>
</html>
